<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">

            <h1>about hivemind</h1>

            <p>Welcome to hivemind! A mental health and self-improvement app
               built for the web. Using best practices in healthy communication,
                Hivemind enables users to add contacts from their real-life support
                 networks, build a well-worded request with our tool that helps each
                  user figure out exactly what they are feeling and what they need
                  in that moment, and then seamlessly send that request as a text
                  message to their contact/s of choice. Users can track emotional
                  trends and access additional resources to build healthy habits
                  after generating data about themselves through the app.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
