  <section id="hero" class= "hero u-full-width">
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading centered">

            <%= image_tag "logo.png", :class => "hivemind-big" %>
            <br>
            <h1>About</h1>

            <p>Welcome to Hivemind! A mental health and self-improvement app built for the web.</p>

            <p>Using best practices in healthy communication, Hivemind enables users to:
                <ul>
                  <li><strong>Add contacts</strong> from their real-life support networks,</li>
                   <li><strong>Build a well-worded request</strong> with our build-a-text tool, and</li>
                   <li><strong>Text requests</strong> seamlessly in the app to their contact/s of choice.</li>
                </ul>
            </p>

            <p>Users can track emotional trends and access additional resources to build healthy habits after generating data about themselves through the app.</p>
              <br>
              <br>
              <br>
              <div class="centered">
                <%= link_to "Try Hivemind", signup_path, class: 'button button-primary' %>
              </div>
              <br>

            </div>
            <br>
            <br>
            <hr>

          </div>
        </div>
      </div>
    </section>
