<h1>hivemind</h1>
<h3>Help your friends help you.</h3>

<p>Feeling twisty inside and know you need help from that one person?
  Hivemind helps you put words to that twisty feeling.
  Use our build-a-text magic wizard to untwist your tongue and formulate a clear, simple request for help.
  You are great, and your best people agree.
  Help them help you.
  <3
  </p>
