<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading centered">

            <%= image_tag "404.png", :class => 'error-img' %>
            <p>That page doesn't exist!</p>
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
</section>
