<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">

            <h1>UH OH.</h1>
            <br>
            <p>That page doesn't exist!</p>

          </div>
        </div>
      </div>
    </div>
</section>
