<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">
            <h1>My Contacts</h1>

            <% if current_user %>
              <%= current_user.contacts.each do |contact| %>
                <br>
                <%= contact.name %>
                <br>
                <%= contact.phone %>
                <br>
                <hr>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%# TODO: fix naming of div classes %>
