<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">
            <h1>Add a Contact</h1>

            <%= form_for :contact, url: '/contacts' do |f| %>

              Name*: <%= f.text_field :name %><br>
              Phone: <%= f.text_field :phone %><br>
              <%= f.submit "Submit", :class => 'button button-primary' %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
