<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">
            <h1>Add a New Contact</h1>

            <%= form_for :contact, url: '/contacts' do |f| %>

              Name: <%= f.text_field :name, :autofocus => true, placeholder: "Ada Lovelace" %><br>
              Phone: <%= f.text_field :phone, placeholder: "+15556984545" %><br>
              <p>Please enter this number just like our example:</p>
              <p>+15556984545</p>
              <%= f.submit "Submit", :class => 'button button-primary' %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
