<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about centered">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">

            <h1>New Text</h1>

            <%= render 'form', text: @text %>

            <%= link_to 'Back', texts_path %>

          </div>
        </div>
      </div>
    </div>
  </section>
