<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">

            <p id="notice"><%= notice %></p>

            <div class="text-preview">
              <h3><%= "'Hey I'm feeling #{@text.emotion} and I need #{@text.need}. Can #{@text.who} #{@text.action} #{@text.timeframe}?'" %></h3>
              <br>
              <br>
            </div>

            <%= link_to "SEND!", trigger_path, :class => 'button button-primary' %>
            <br>
            <br>

            <%= link_to 'Edit Before Sending', edit_text_path(@text) %>

          </div>
        </div>
      </div>
    </div>
</section>
